
#home {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.8)),url('/static/meLOGO.png');
    background-position: center;
    background-size:contain;
}

.fa-bars {
    color: white;
    font-size: 25px;
}

#menu {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.web-title {

    color: white;
    letter-spacing: 20px;
    font-size: 150px;
    line-height: 80%;
}

.info {
    color: white;
    font-size: 30px;
    font-weight: lighter;
}

.column-left {
    min-height: 100vh;
    background-image: url(/static/meLOGO.png);
    background-size: contain;
}

.column-right .section-title {
    color:rgb(235, 179, 62);
    font-family: Signery;
    margin-top: 90px;
    padding: 5rem 2rem 0rem 5rem;
    font-size: 8rem;
}

.column-right .paragraph {
    color: white;
    margin-top: 15px;
    padding: 1rem 5rem 1rem 5rem;
    font-size: 2rem;
    line-height: 1.4;
    text-align: justify;
    font-weight: lighter;
}