{% extends 'base.html' %}

{% block content %}
<div id="home" class="container-fluid bg-dark">
    <div class="row">
        <div id="menu" class="col-sm-12 text-center">
            <div class="col-xs-12 col-sm-6 col-lg-6">
                <p class="web-title" style="font-family: Signery;">Manila Eatery</p>
                <p class="info">45 Colma Boulevard</p>
                <p class="info">Colma, CA 94014</p>
                <p class="info">United States</p>
                <p class="info">(650) 757-8000</p>
                <a href="{{ url_for('form') }}" class="btn btn-primary btn-lg" type='submit' style='margin-top: 5px;'>Leave a Review</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}