{% extends 'base.html' %}

{% block content %}
<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-6 column-left"></div>
        <div class="col-xs-12 col-sm-6 col-lg-6 column-right">
            <h1 class="section-title">Submitted!</h1>
            <p class="paragraph">
                Thank you for submitting your feedback on Manila Eatery!
                For the last 27 years, the Zapanta family has worked day in and day out
                in order to provide quality food and service for their loving customers.
                The Zapanta siblings have been pursuing this small, family-owned business
                in order to follow through and live out their parents' American Dream of
                owning and operating a successful restaurant.
                Please continue to support our business along with many other local and 
                family-run businesses!
            </p>
            <p class="paragraph">Come eat again!</p>
        </div>

    </div>
</div>
{% endblock %}